
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
<div id="chart-container" style="width: 96%; height: 400px;"></div>

@code {
    private bool _isDisposed;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isDisposed)
        {
            string symbol = "BTCUSDT";
            await JSRuntime.InvokeVoidAsync("waitForTradingViewAndInitialize", symbol);
        }
    }

    // Implement IDisposable interface explicitly
    public void Dispose()
    {
        _isDisposed = true;
        // Add any additional cleanup logic here, if needed
    }

}