@using Microsoft.AspNetCore.Components
<ArsaRExCH.Components.Chartss.TradingViewChart></ArsaRExCH.Components.Chartss.TradingViewChart>
<p>@btcPriceVariable</p>

@code {
    [CascadingParameter(Name = "BtcPrice")]
    public string BtcPrice { get; set; }

    [CascadingParameter(Name = "EthPrice")]
    public string EthPrice { get; set; }

    private string btcPriceVariable;
    private string ethPriceVariable;

    protected override void OnParametersSet()
    {
        btcPriceVariable = BtcPrice;
        ethPriceVariable = EthPrice;

        // Debugging output
        Console.WriteLine($"BTC Price received: {btcPriceVariable}");
        Console.WriteLine($"ETH Price received: {ethPriceVariable}");
    }
}
