@using ArsaRExCH.Model
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@inject NavigationManager Navigation
@inject ArsaRExCH.Interface.ITrade _tradeInterface
@rendermode InteractiveServer
@inject AuthenticationStateProvider _AuthenticationStateProvider
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
<div style="display: flex; width: 100%;">
    <div style="flex: 0 0 70%; height: 400px;">
        <ArsaRExCH.Components.Chartss.TradingViewChart></ArsaRExCH.Components.Chartss.TradingViewChart>
    </div>

    <div id="additional-content" style="flex: 0 0 30%; height: 400px; background-color: lightblue">
        <h5>Orders show here All</h5>
    </div>
</div>
<h5><b>@tradeModel.TradePair</b></h5>
<EditForm Model="@tradeModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="symbolI">BTC Amount</label>
        <InputNumber id="symbolI" class="form-control" @bind-Value="tradeModel.symbolI" />
    </div>

  

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<p>@btcPriceVariable</p>
<p>@message</p>

@code {
    private Trade tradeModel = new Trade();
    public string message { get; set; }
    public string user2{ get; set; }
    [CascadingParameter(Name = "BtcPrice")]
    public string BtcPrice { get; set; }

    [CascadingParameter(Name = "EthPrice")]
    public string EthPrice { get; set; }

    private string btcPriceVariable;
    private string ethPriceVariable;

    private async Task HandleValidSubmit()
    {
        Console.WriteLine("HandleValidSubmit called."); // Debugging output

        var feeFromDbCall = await _tradeInterface.GetTradeFee();

        var trade = new Trade
            {
                TradeId = Guid.NewGuid().ToString(), // Generate a new TradeId
                TradePair = PairNames.BTCUSDT, // Example value
                dateTime = DateTime.Now, // Current date and time
                symbolI = tradeModel.symbolI, // Bound model
                SymbolII = 1200, // Bound model
                TradeFee = feeFromDbCall, //call db for dynamic trading fee
                IsMarketBuy = true,
                IsTradeDone = false,
                MyProperty = "sdsdsd",
                ApplicationUserId =user2, // Example value
                BitcoinPoolId = 15 // Example value call db for real one
            };

        // Save the trade to the database
        try
        {
            await _tradeInterface.SaveTrade(trade);
            message = "Trade added successfully!";
            trade = new Trade();
            Console.WriteLine(message); // Debugging output
        }
        catch (Exception ex)
        {
            // Handle exceptions
            Console.Error.WriteLine($"An error occurred while saving the trade: {ex.Message}");
            message = "An error occurred while saving the trade.";
        }
    }
 
     protected override async Task OnInitializedAsync()
    {
        // Check if the user is logged in and fetch their information
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            user2 = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

            tradeModel.TradePair = PairNames.BTCUSDT;

        }

    }

        

    
    protected override void OnParametersSet()
    {
        btcPriceVariable = BtcPrice;
        ethPriceVariable = EthPrice;

        // Debugging output
        Console.WriteLine($"BTC Price received: {btcPriceVariable}");
        Console.WriteLine($"ETH Price received: {ethPriceVariable}");
    }
}