@page "/AddMoneyBank"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager
@using System.Security.Claims
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject HttpClient Http
@attribute [Authorize]

<h3>Here conect to BANK or 3rd party app API </h3>
<h4>Deposit</h4>

<div class="form-floating mb-1">
    <InputNumber @bind-Value="TextBoxValue" id="email" class="form-control" placeholder="name@example.com" />
    <label for="email">Amount $</label>
</div>

<div class="col-sm-10">
    <label for="dropdown">Dropdown:</label>
    <select id="dropdown" @bind="SelectedOption">
        <option value="">Choose Provider</option>
        @foreach (var option in Options)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>

<div>
    <button id="login-submit" type="submit" class="w-25 btn btn-lg btn-danger">Deposit</button>

</div>



@code {
    // Properties to hold the state
    private int TextBoxValue { get; set; }
    private string SelectedOption { get; set; } = ""; // Default selected option

    // Sample dropdown options
    private List<string> Options { get; set; } = new List<string> { "XBank", "YBank", "ZBank" };

    // Event handler for button click
    private void OnButtonClick()
    {
        // Implement button click logic here
        Console.WriteLine($"TextBoxValue: {TextBoxValue}, SelectedOption: {SelectedOption}");
    }
}