@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager
@using System.Security.Claims
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject HttpClient Http
@inject ArsaRExCH.Interface.WalletInterface<double> _face
@using ArsaRExCH.Components.MyComponents

<style>
    .win-container {
        border: 2px solid #000; /* Black border with 2px thickness */
        padding: 2px; /* Optional: Add padding inside the border */
        border-radius: 5px; /* Optional: Add rounded corners */
        display: inline-block; /* Ensure the div sizes itself to the content */

    }
</style>


<div class="win-container">
  <Win></Win>
</div>