@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager
@using System.Security.Claims
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject HttpClient Http
@inject ArsaRExCH.Interface.WalletInterface _face


<h3>Welcome To ArsaRExchange & Casino </h3>
<p>Here is Bet System om Bitcoin Volatility , The System is designed to guess Bitcoin Price
</p><br />
<p>You will geuss Bitcoin price ANd bet on That , You will say on which date and time that bitcoin 
    price will happens
</p>