@page "/AdminInformation/{userId}"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@attribute [Authorize]
@inject ArsaRExCH.Interface.AdministrationInterface _adminInterface
@inject ArsaRExCH.Interface.WalletInterface<double> _face


<h5>First Init Administration / Exchange</h5>
<h6>Onlly User Whit Role "Exchange " or Admin At the time can Initialized The Application for first </h6>
<p>3 wallet has been made for administration</p>
<p>@userId From LayoutBase</p>
@code {
    [Parameter]
    public string userId { get; set; }
    public string user2 { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            user2 = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

          //  ErrorMessage = "Admin Wallets has been set up";
       
            await Task.Delay(1000);
            await _adminInterface.EditAdminInit();
            Console.WriteLine($"ActivatepageII{userId}");
            Console.WriteLine($"ActivatepageII{user2}");
            await _face.CheckAndCreateWallets(userId);
          



        }


    }
}
