@page "/Prepetual/BTCUSDTP/{hash}"
@rendermode InteractiveServer
<h3>BTCUSDTP</h3>
<BtcPricePrepetual>
    <Myc HashFllag="@hash"></Myc>
</BtcPricePrepetual>

@code {
    [Parameter]
    public string hash { get; set; }
}
