@page "/Prepetual/{hash}/{Pair}"
@rendermode InteractiveServer
<h3>BTCUSDTP</h3>
<BtcPricePrepetual Pairs="@Pair">
    <Myc HashFllag="@hash" Pair="@Pair"></Myc>
</BtcPricePrepetual>

@code {
    [Parameter]
    public string hash { get; set; }
    [Parameter]
    public string Pair { get; set; }
}
